<html>
<head>
    <title>Sacked in breakfast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/vendor/jquery.mobile-1.4.2/jquery.mobile-1.4.2.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/vendor/jquery/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">
    $(document).bind("mobileinit", function(){
//        $.mobile.defaultPageTransition = 'slide';
    });
    </script>
    <script src="/static/vendor/jquery.mobile-1.4.2/jquery.mobile-1.4.2.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

<div data-role="page" id="page">
{% block content %}
{% endblock %}
</div>

</body>
</html>