{% extends "base.html" %}

{% block head %}
    <!-- tinymap -->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
    <script src="/static/vendor/jquery.tinyMap.min.js"></script>
    <!-- tinymap -->
    <script>
    var x=document.getElementById("demo");
    function getLocation()
    {
        if (navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
        else{x.innerHTML="Geolocation is not supported by this browser.";}
    }
    function showPosition(position)
    {
        x.innerHTML="Latitude: " + position.coords.latitude + 
        "<br>Longitude: " + position.coords.longitude;    
    }

    $(function () {
        $('#map').tinyMap({
            center: '臺灣',
            zoom: 7
            //center: {x:25.019338218051804, y:121.54169423502667},
            //zoom: 18,
            //marker: [
            //    {addr: ['25.019338218051804', '121.54169423502667'], text: 'now'}
            //]
        });
    });
    </script>
    <script>
        $('#shop_list').listview('refresh');
        function address_search(e){
            $("#address_list").html("");
            var search_text = $(e.target).val();
            $.post("./add_card", $(e.target).val()).done(function(data){
                var monsters = [];
                $.each(data, function(key, monster){
                    monsters.push('<li><a href="' + window.location.pathname + '?target=' + key + '"><div class="card-' + key + '" stlye="float: left;"></div>' + key + ' - ' + monster.n + '</a></li>');
                });
                $("#monster_list").append(monsters);
                $('#monster_list').listview('refresh');
            });
        }
    </script>
</script>
{% endblock %}

{% block content %}
<div data-role="header">
    <h1>早餐店</h1>
    <a href="/add" data-icon="plus" class="ui-btn-right">新增</a>
</div>

<div data-role="content">
    <input id="shop_search" type="search" name="search" value="" />
    <div id="map"></div>
    <ul id="shop_list" data-role="listview" data-inset="true">
        {% for s in shops %}
        <li><a href="/{{s.sid}}">{{s.sid}} - {{s.name}}</a></li>
        {% endfor %}
    </ul>
    <!--
    <a href="#" data-role="button" data-icon="search" data-iconpos="notext" data-theme="c" data-inline="true">add</a>
    
    <div data-role="controlgroup" data-type="horizontal">
        <input id="address_search" data-wrapper-class="controlgroup-textinput ui-btn" type="search" name="search" value="" />
        <a href="#" data-role="button" data-icon="add"></a>
    </div>

    -->
</div>
{% endblock %}