{% extends "base.html" %}

{% block content %}
<div data-role="header">
    <a href="/" data-icon="home" class="ui-btn-left">Home</a>
    <h1>店家</h1>
    <a href="/edit/{{sid}}" data-icon="edit" class="ui-btn-right">edit</a>
</div>

<div data-role="content">
    <h3>{{sid}} - {{shop['name']}}</h3>
    <h5>{{shop['addr']}}</h5>
    <hr>
    {% if not c_info %}
    <a href="/edit/{{sid}}" data-role="button">新增資料</a>
    {% else %}
    <ul data-role="listview" data-inset="true">
        {% if c_info['news'] %}
        <li>報紙-{{c_info['news']}}</li>
        {% endif %}
        {% if c_info['tv'] %}
        <li>電視-{{c_info['tv']}}</li>
        {% endif %}
    </ul>
    {% endif %}
</div>
{% endblock %}